Package: MattCMultimedia
Name: messageSwiper
Depends: mobilesubstrate
Version: 1.0-23
Architecture: iphoneos-arm
Description: MessageSwiper allows users to quickly switch between message threads in Message.app using left and right swipe gestures.
Maintainer: Matt
Author: Matt
Section: Tweaks
Installed-Size: 20
