Package: MattCMultimedia
Name: messageSwiper
Depends: mobilesubstrate
Version: 2.0.1-46
Architecture: iphoneos-arm
Description: MessageSwiper allows users to quickly switch between message threads in Messaging apps using swipe gestures.
Maintainer: Matt
Author: Matt
Section: Tweaks
Installed-Size: 24
