Package: com.mattcmultimedia.messageswiper
Name: MessageSwiper
Depends: mobilesubstrate, firmware (>= 6.0)
Version: 3.0
Architecture: iphoneos-arm
Description: MessageSwiper allows users to quickly switch between message threads in Messaging apps using swipe gestures.
Maintainer: MattCMultimedia
Author: MattCMultimedia
Section: Tweaks